:root {
  --font-family: sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 10vh; */
  height: 80px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 2%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.logo {
  display: flex;
  width: 50%;
  margin-top: 2%;
  align-self: center;
}

#logo-img {
  margin-top: -10px;
  width: 50px;
  /* height: 50px; */
}

#logo {
  width: 100%;
}

.logo h1 {
  color: #fff;
  margin-left: 100px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 68%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 1s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* .toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
} */

header {
  background-image: url("../resources/images/Frame\ 485.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: ; */
}

header *:not(.overlay):not(#nav) {
  z-index: 10;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(102, 102, 113);
  background: linear-gradient(
    90deg,
    rgba(102, 102, 113, 1) 0%,
    rgba(93, 94, 105, 1) 35%,
    rgba(132, 131, 139, 1) 100%
  );
  opacity: 0.6;
  z-index: 1;
}

.intro-text {
  text-align: center;
  justify-self: center;
  padding-top: 20%;
}

#welcome-text {
  font-size: 50px;
  color: #d0b07f;
}

.sub-text {
  font-size: 30px;
  color: white;
}

body {
  background: rgb(71, 75, 85);
  background: linear-gradient(
    90deg,
    rgba(71, 75, 85, 1) 0%,
    rgba(118, 117, 128, 1) 35%,
    rgba(118, 117, 128, 1) 100%
  );
}

.services {
  text-align: center;
}

#service-bio {
  text-align: center;
  font-size: 2rem;
  color: #d0b07f;
}

#service-bio-cont {
  text-align: center;
  font-size: 2rem;
  color: #d0b07f;
  padding-bottom: 35px;
}

#service {
  font-size: 30px;
  padding-top: 3%;
  padding-bottom: 1%;
  color: white;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 3% auto 7%;
  width: 90%;
  height: 75vh;
  background-color: #fff;
}

.card {
  position: relative;
  width: 22%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d0b07f;
  border-radius: 25px;
  background: linear-gradient(
    184deg,
    rgba(122, 122, 132, 1) 17%,
    rgba(110, 111, 121, 1) 50%,
    rgba(88, 89, 99, 1) 65%,
    rgba(71, 74, 84, 1) 76%
  );
  /* padding-top: 8%; */
  overflow: hidden;
}

.card:hover {
  background: #474b55;
  border-width: 2px;
  cursor: pointer;
}

.card.clicked-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: #474b55;
  transition: width 0.5s ease-in-out;
}

.card.clicked-card:hover {
  cursor: default;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
}

.btn button {
  background-color: transparent;
  border: none;
}

.btn i {
  font-size: 2rem;
}

.service-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  padding: 1px;
  width: 60%;
  height: 100%;
  z-index: 10;
}

.service-form.active {
  display: flex;
}

.service-form .title h2 {
  color: "";
}

.service-form input,
.service-form textarea {
  margin-bottom: 10px;
  padding: 15px;
  width: 60%;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
}

.service-form input:hover,
.servie-form textarea:hover {
  border-color: #d0b07f;
}

.service-form input::placeholder,
.service-form textarea::placeholder {
  color: #fff;
}

.card img {
  margin-top: 40%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 225px;
}

.card-text {
  position: relative;
  margin-bottom: 100%;
  text-align: center;
  color: aliceblue;
}

.text {
  padding-bottom: 10%;
  text-align: center;
  font-weight: normal;
}

.text + p {
  position: relative;
  margin-top: 10%;
  padding: 0 10%;
  top: 50%;
  /* margin: 0 10% 40%; */
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.4;
}

.text + p .expanded-content,
.card.clicked-card .ellipsis {
  display: none;
}

.card.card.clicked-card .expanded-content {
  display: initial;
}

.language-container {
  width: 100%;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
}

.language {
  width: 35%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.language-text {
  color: white;
  font-size: 25px;
}

.mainLanguage-text {
  color: #d0b07f;
  padding-top: 10%;
  font-size: 34px;
  width: 210%;
  padding-left: 35%;
}

span {
  color: white;
}

.lang-img {
  padding-left: 20%;
}

.programs-container {
  width: 100%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
}

.program {
  width: 35%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutUs {
  background-image: url("../resources/images/Frame 486.png");
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.aboutUs .overlay {
  background: #000;
  z-index: 1;
  position: absolute;
  height: 100%;
}

.about-heading {
  color: #d0b07f;
  text-align: center;
  padding-top: 15%;
  padding-left: 1%;
}

.about-p {
  color: white;
  text-align: justify;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-size: x-large;
  font-family: sans-serif;
  padding-top: 80px;
  line-height: 1.5;
}

.letsTalk {
  background: rgb(72, 76, 86);
  background: linear-gradient(
    90deg,
    rgba(72, 76, 86, 1) 0%,
    rgba(72, 76, 86, 1) 35%,
    rgba(108, 108, 118, 1) 100%
  );
}

.Lets-Talk {
  display: flex;
}

.talk {
  width: 50%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Talk {
  color: #d0b07f;
  font-family: sans-serif;
  font-size: xx-large;
  padding-top: 20%;
  padding-left: 20%;
}

.lets {
  font-family: sans-serif;
  padding-top: 3%;
  font-size: xx-large;
  padding-left: 20%;
  color: white;
}

.lets-talk-button {
  display: grid;
  place-items: center;
  padding-bottom: 10%;
}

.button {
  align-items: center;
  padding: 20px;
  color: black;
  border-radius: 1px solid;
  font-family: sans-serif;
  font-size: x-large;
  border: #d0b07f solid;
  color: gray;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(72, 76, 86);
  background: linear-gradient(
    90deg,
    rgba(72, 76, 86, 1) 0%,
    rgba(72, 76, 86, 1) 35%,
    rgba(108, 108, 118, 1) 100%
  );
  width: 100%;
}

.footer-links {
  padding-right: 5%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  justify-content: space-between;
  width: 20%;
}

.footer-links a {
  text-decoration: none;
  color: #d0b07f;
}
